@font-face {
  font-family: "iconfont"; /* Project id 2568637 */
  src: url('/static/font/iconfont.woff2') format('woff2'),
       url('/static/font/iconfont.woff') format('woff'),
       url('/static/font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youyanji:before {
  content: "\e62e";
}

.icon-bingxiang:before {
  content: "\ec4f";
}

.icon-xiyiji:before {
  content: "\e621";
}

.icon-chuang:before {
  content: "\e626";
}

.icon-kongtiao:before {
  content: "\e6fd";
}

.icon-luyouqi:before {
  content: "\e64f";
}

.icon-weibolu:before {
  content: "\e6b5";
}

.icon-yigui:before {
  content: "\e61b";
}

.icon-zhangdan-xianxing:before {
  content: "\e89e";
}

.icon-caiwu-xianxing:before {
  content: "\e8ae";
}

.icon-youxiajiaogouxuan:before {
  content: "\e8b7";
}

.icon-jia:before {
  content: "\e8e1";
}

.icon-zhengquewancheng-yuankuang:before {
  content: "\e8e4";
}

.icon-cuowuguanbiquxiao:before {
  content: "\e8e7";
}

.icon-gantanhao-yuankuang:before {
  content: "\e8ec";
}

.icon-biaotou-zhengxu:before {
  content: "\e8f8";
}

.icon-biaotou-daoxu:before {
  content: "\e8f9";
}

.icon-shanchu:before {
  content: "\e677";
}

.icon-xihuan-xianxing:before {
  content: "\e8c4";
}

.icon-xihuan:before {
  content: "\e8c5";
}

.icon-fangwuzujin:before {
  content: "\e63d";
}

.icon-fangwudingwei:before {
  content: "\e663";
}

.icon-btn_addhouse:before {
  content: "\e60a";
}

.icon-fangwu:before {
  content: "\e669";
}

.icon-shenglve:before {
  content: "\e624";
}

.icon-tubiaozhuanqu-05:before {
  content: "\e646";
}

.icon-chaping:before {
  content: "\e8d9";
}

.icon-haoping:before {
  content: "\e8d8";
}

.icon-jia-yuankuang:before {
  content: "\e8df";
}

.icon-huidingbu:before {
  content: "\e8f7";
}

.icon-weizhi:before {
  content: "\e8ff";
}

.icon-dingwei:before {
  content: "\e900";
}

.icon-qiyeyuanquwuye-xianxing:before {
  content: "\e895";
}

.icon-yingyongchengxu-xianxing:before {
  content: "\e8a1";
}

.icon-xinwenzixun-xianxing:before {
  content: "\e8a7";
}

.icon-dianhua:before {
  content: "\e8bd";
}

.icon-shoucang:before {
  content: "\e8c2";
}

.icon-shoucang-xianxing:before {
  content: "\e8c3";
}

.icon-yonghu-xianxing:before {
  content: "\e8c8";
}

.icon-yonghu:before {
  content: "\e8c9";
}

.icon-shaixuanguolv:before {
  content: "\e8d7";
}

